/* This applies to all elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #7576B0;
}

.nt-50 {
    margin-top: 50px;
}

